*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Poppins;
    font-size:20px;
    color:goldenrod;
}
body{
    background-color:#222225;
}
.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 200px;
}
.container{
    margin: 0 auto;
    transform: translateY(100px);
    width: 80%;
    border: 2px solid goldenrod;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
    gap: 3rem;
    border-radius: 25px;
    background-color: black;
}
.forObject{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    transition: .3s all;
}
button{
    padding: 10px;
    border-radius: 25px;
    background-color: black;
    border: 1px solid black;
    transition: .3s ease-in-out;
    color:black;
    background-color: goldenrod;
    font-weight: bold;
    cursor: pointer;
}
button:hover{
    transform: translateY(-10px);
    background-color: black;
    border: 2px solid goldenrod;
    color:goldenrod;
}
input{
    padding: 10px 15px;
    background-color: black;
    border-radius: 20px;
    border: 1px solid goldenrod;
}
::placeholder{
    color:goldenrod;
    filter: brightness(50%)
}